/* General Rulesets */

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
  background-size: cover;
  margin: 0;
}

a,
a:visited {
  text-decoration: none;
  color: inherit;
}

footer {
  position: relative;
  color: black;
  width: 100%;
  text-align: center;
  /* position: static; */
  top: 200px;
  margin-bottom: 20px;
  /* margin-top: 100px; */
  z-index: 2;
}

header {
  /* position: static; */
  display: flex;
  /* flex-direction: row; */
  /* justify-content: flex-end; */
  width: 100%;
  height: 30vh;
  /* margin-top: 100px; */
  
  align-items: flex-end;
  /* text-align: center; */
  justify-content: space-between;
  color: rgb(83, 67, 67);
  z-index: 2;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  width: 100%;
  padding: 0px 50px 0px 50px;
  top: 0;
  background-color: white;
  z-index: 2;
  
}

.nav-container.sticky {
  position: fixed;
  top: 0;
  left: 0;
}

.branding {
  display: flex;
  margin-bottom: 17px;
  margin-left: 10px;
  font-family: 'Sarina', cursive;
  font-size: 35px;
}

nav {
  /* position: absolute; */
  /* bottom: 0; */
  display: flex;
  font-family: 'Averia Serif Libre', cursive;
  font-size: 17px;
  list-style: none;
  height: 60px;
  padding-inline-start: 0px;
  /* padding-bottom: 0px; */
  margin-bottom: -10px;
  /* margin-top: -25px; */
}

/* header.horizontal nav {
  display: inline-block;
  margin-top: -5px;
  vertical-align: middle;
  /* align-items: center; */
/* } */

/* .splash {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  background: url("https://images.pexels.com/photos/1416367/pexels-photo-1416367.jpeg?cs=srgb&dl=pexels-steve-johnson-1416367.jpg&fm=jpg")
    no-repeat center center fixed;
  background-size: cover;
  z-index: -2;
} */
/* 
.gallery-background {
  position: fixed;
  height: 100vh;
  min-height: 500px;
  width: 100%;
  top: 0;
  background: linear-gradient(173deg, rgba(255,255,255,1) 31%, rgba(255,255,255,0.7067869384081757) 61%, rgba(255,255,255,0.2995040252429097) 54%);
  transition: 0.5s;
  z-index: -1;
}

.gallery-background.white {
  background-color: white;
  height: 140vh;
} */


ul {
padding-inline-start: 0px;
list-style: none;
}

.navbar li {
  display: inline-block;
  padding: 0 15px;
}

.navbar li a {
  color: rgba(83, 67, 67, 0.719);
}

.navbar li a:hover,
.navbar .current a {
  color: rgb(83, 67, 67);
}

.splash {
  width: 100%;
  height: 65vh;
  padding: 0px 35px;
  /* overflow: hidden; */
}
.splash img {
  width: 100%;
  object-fit: cover;
  /* overflow: hidden; */
}


/* Gallery */

.grid {
  /* position: relative; */
  /* top: 0px; */
  /* top: 20px; */
  /* margin: 100px 0vw 100px 0vw; */
  padding: 30vh 30px;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
  background-color: rgb(255, 255, 255);
  z-index: 1;
}
.grid-item {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
  image-rendering: -webkit-optimize-contrast;
  image-rendering: crisp-edges;
}
.grid img {
  width: 100%;
  height: auto;
  page-break-inside: avoid; /* For Firefox. */
  -webkit-column-break-inside: avoid; /* For Chrome & friends. */
  break-inside: avoid; /* For standard browsers like IE. :-) */
  transition: 400ms ease-out;
}
@media (hover: hover) {
  .grid img:hover {
    filter: brightness(110%)
    drop-shadow(0 0.30rem 0.35rem rgb(0, 0, 0, 0.3));
    /* filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.5)); */
  }
}

/* Modal slideshow */

.modal {
  display: none;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 2;
  /* overflow: auto; */
}

.modal-content {
  height: 100%;
  width: 100%;
  transition: 1s;
}

.slide-container,
.slide-container img {
  height: 100%;
  max-width: 100%;
}

.slide-container img {
  display: block;
  margin: auto;
  padding: 5vh 0;
  filter: drop-shadow(0 0 0.75rem rgb(0, 0, 0, 0.5));
  /* z-index: 2; */
}

#prev,
#next {
  color: rgba(156, 156, 156, 0.5);
  position: fixed;
  cursor: pointer;
  top: 0;
  height: 100%;
  width: 8vw;
  text-align: center;
  font-size: 25px;
  padding: 45vh 0;
  background-color: rgba(255, 255, 255, 0);
  transition: 0.15s ease;
  user-select: none;
}

#next {
  right: 0;
}

#prev:hover,
#next:hover {
  color: rgb(255, 255, 255, 0.7);
  background-color: rgba(0, 0, 0, 0.1);
}


/* Blog Page Rulesets */

.blog-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.blog-container h2 {
  font-weight: normal;
}

.blog-post {
  color: black;
  width: 90%;
  overflow: auto;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 2% 5%;
  margin: 5% auto;
  border-radius: 5px;
}

.blog-image {
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  min-width: 100px;
  margin: 0 auto;
}

.description {
  height: 100%;
  font-size: 13px;
  overflow: auto;
}

/* Contact Page Ruleset */

#connection {
  color: black;
  width: 100%;
  margin: 15% auto;
  text-align: center;
}

.contact {
  width: 100%;
  margin: 10% auto;
}

.contact p,
.contact ul {
  margin: 1%;
  font-size: 16px;
  font-weight: lighter;
}

#location {
  padding: 0;
  list-style: none;
}



