/* General Rulesets */

* {
  box-sizing: border-box;
}

body {
  font-family: Helvetica, sans-serif;
  color: white;
  background-size: cover;
  margin: 0;
}

a {
  text-decoration: none;
}

footer {
  color: black;
  width: 100%;
  text-align: center;
  position: static;
  bottom: 0;
  margin-top: 100px;
  
}

header {
  padding-top: 3%;
  height: 70vh;
  text-align: center;
  background: url("https://images.pexels.com/photos/1416367/pexels-photo-1416367.jpeg?cs=srgb&dl=pexels-steve-johnson-1416367.jpg&fm=jpg")
    no-repeat center center fixed;
  background-size: cover;
}

.navbar {
  list-style: none;
  padding-inline-start: 0px;
}

.navbar li {
  display: inline-block;
  padding: 0 5px;
}

.navbar li a {
  color: rgb(255, 255, 255, 0.8);
}

.navbar li a:hover,
.navbar .current a {
  color: rgb(255, 255, 255);
}

/* Home Page Rulesets */

#introduction {
  text-align: center;
  margin-top: 15%;
  margin-bottom: 50%;
}

#introduction h1 {
  font-size: 60px;
}

#introduction p {
  font-size: 18px;
  margin: 10% auto;
  font-weight: lighter;
}

#introduction a {
  display: block;
  background-color: cornflowerblue;
  width: 20%;
  padding: 3% 8%;
  margin: 0 auto;
  border-radius: 4px;
  text-align: center;
}

#introduction a:hover {
  background-color: rgb(83, 139, 243);
}

/* Blog Page Rulesets */

.blog-container {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.blog-container h2 {
  font-weight: normal;
}

.blog-post {
  color: black;
  width: 90%;
  overflow: auto;
  background-color: rgb(255, 255, 255, 0.9);
  padding: 2% 5%;
  margin: 5% auto;
  border-radius: 5px;
}

.blog-image {
  display: inline-block;
  vertical-align: middle;
  width: 32%;
  min-width: 100px;
  margin: 0 auto;
}

.description {
  height: 100%;
  font-size: 13px;
  overflow: auto;
}

/* Contact Page Ruleset */

#connection {
  color: black;
  width: 100%;
  margin: 15% auto;
  text-align: center;
}

.contact {
  width: 100%;
  margin: 10% auto;
}

.contact p,
.contact ul {
  margin: 1%;
  font-size: 16px;
  font-weight: lighter;
}

#location {
  padding: 0;
  list-style: none;
}

/* Gallery */
.grid {
  margin: auto 10vw;
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  column-count: 3;
  column-gap: 0px;
}
.grid-item {
  cursor: pointer;
  display: inline-block;
  padding: 5px;
}
/* clear fix */

/* ---- .grid-item ---- */

.grid-item img {
  width: 100%;
  height: auto;
  page-break-inside: avoid; /* For Firefox. */
  -webkit-column-break-inside: avoid; /* For Chrome & friends. */
  break-inside: avoid; /* For standard browsers like IE. :-) */
}

