header {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  /* padding: 0% 0%; */
  align-items: center;
  justify-content: center;
  height: 30vh;
  color: rgb(83, 67, 67);
  background: -moz-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6115488431700805) 0%,
    rgba(255, 255, 255, 1) 42%,
    rgba(255, 255, 255, 1) 100%
  );
  background: -webkit-linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6115488431700805) 0%,
    rgba(255, 255, 255, 1) 42%,
    rgba(255, 255, 255, 1) 100%
  );
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.6115488431700805) 0%,
    rgba(255, 255, 255, 1) 42%,
    rgba(255, 255, 255, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#ffffff",GradientType=1);
  z-index: 2;
}

.navigation {
  display: grid;
  grid-gap: 10px;
  grid-template-rows: 100%;
  grid-template-columns: 46% 18% 18% 18%;
  font-size: 20px;
  height: 60px;
  width: 90%;
  margin: 0 15%;
  max-width: 1200px;
  margin-bottom: -10px;
}

.navigationItem {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(83, 67, 67, 0.719);
}

/* .title {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  top: -10px;
  font-family: 'Sarina', cursive;
  color: rgb(83, 67, 67);
} */

.rotulo {
  display: flex;
  align-items: center;
  justify-content: center;

  /* position: relative;
  top: -10px; */
}

.rotulo img {
  /* object-fit: contain; */
  width: 80%;
  /* max-height: 100%; */
}

@media (min-width: 1350px) {
  .navigation {
    grid-template-rows: 100%;
    grid-template-columns: 46% 1fr 1fr 1fr;
  }
  /* .rotulo {
    width: 80px;
  } */
}

@media (max-width: 1349px) {
  .navigation {
    width: 80%;
    grid-template-rows: 100%;
    grid-template-columns: 50% 1fr 1fr 1fr;
  }
  /* .rotulo {
    width: 70px;
  } */
}

@media (max-width: 1190px) {
  .navigation {
    width: 80%;

    grid-template-rows: 100%;
    grid-template-columns: 56% 1fr 1fr 1fr;
  }
  /* .rotulo {
    width: 60px;
  } */
}

@media (max-width: 1000px) {
  .navigation {
    width: 80%;

    grid-template-rows: 100%;
    grid-template-columns: 46% 1fr 1fr 1fr;
  }
  /* .rotulo {
    width: 50px;
  } */
}

@media (max-width: 915px) {
  .navigation {
    width: 80%;
    height: 70%;
    grid-template-rows: 80% 20%;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .rotulo {
    grid-row: 1/2;
    grid-column: 1/4;
  }
  .rotulo img {
  }
  .navigationItem {
    grid-row: 2/3;
    /* align-items: flex-end; */
  }
}

@media (max-width: 500px) {
  .navigation {
    margin: 0% 0%;
    width: 100%;
  }
  .navigationItem {
    align-items: flex-end;
    /* color: red; */
  }

  .rotulo {
    padding: 20px;
  }
}

.navigationItem:hover {
  color: rgb(83, 67, 67);
}

.current {
  color: rgb(83, 67, 67);
}

/* .about-nav {
  color: white;
  background-color: transparent;
} */

/* .navigation {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 20vh;
  max-height: 100px;
  font-size: 1.25em;
}

.navigationItem {
  display: inline-flex;
  align-items: center;
  margin: 0 1em;
}

.navigationItem a {
  color: currentColor;
} */
